.count{
    line-height: .75em;
}
a:hover{
    text-decoration: none;
}
a .grey{
    color: rgb(255, 255, 255);    
}
a .grey:hover{
    color: none;
}
.bg-dark{
    background-color: #3e72d5 !important;
}
body{
    padding-top: 3rem;
}